<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Spicy+Rice&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Header</h1>
        <nav>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </nav>
      </header>
      <main>
        <h2>Main</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro
          asperiores ipsa nam eos, dignissimos cum dolores architecto nisi vitae
          iure fugiat molestiae doloremque nostrum error sint praesentium
          voluptatum recusandae magni?
        </p>
        <aside>
          <h2>Aside</h2>
        </aside>
        <figure>
          <img src="https://dummyimage.com/400/ffffff/000000" alt="square" />
        </figure>
      </main>
      <footer>
        <p>&copy; 2024 Alex Reilly</p>
      </footer>
    </div>
  </body>
</html>
