body {
  background-color: rgb(236, 186, 243);
  color: rgb(236, 186, 243);
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2;
}
.container {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(115, 13, 248);
  padding: 30px;
}

h1,
h2 {
  color: rgb(236, 186, 243);
  font-weight: bolder;
  text-align: center;
}

img {
  width: 30%;
}

#kat{
  overflow: auto;
}

#kat img{
  float: right;
  margin: 20px;
}

.makeup{
  overflow: auto;
}

.makeup img{
  float: left;
  margin: 20px;
}

nav {
  text-align: center;
}

nav a {
  margin-left: 30px;
  color: rgb(224, 224, 224);
  text-decoration: none;
  font-size: 30px;
  padding: 10px 15px;
  line-height: 3;
  background-color: rgb(66, 135, 240);
  border-radius: 20px;
  border: 2px solid rgb(66, 135, 240);
}

nav a:hover {
  color: rgb(66, 135, 240);
  font-weight: bold;
  background: rgb(224, 224, 224);
}
